body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;      
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Search en haut */
.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-container input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.search-container button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s;
}
#searchBtn{
    background-color: #1688ece8;
}
#cancelBtn{
    background-color: #a0aaaa;
}
#randomBtn {
    background-color:#ee3131f0;;
}

/* Conteneur principal pour grid + historique */
.main-content {
    display: flex;
    gap: 20px;
}

/* Résultats à gauche */
.results-container {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 15px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.pokemon-card {
    border: 4px solid #ccc;
    border-radius: 15px;
    background: #fff;
    width: 200px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s, border-color 0.3s;
}
.pokemon-card:hover { transform: translateY(-5px); }

.pokemon-card img { width: 120px; }
.pokemon-name { font-size: 1.2em; font-weight: bold; margin: 5px 0; text-transform: capitalize; }
.pokemon-types { margin: 5px 0; }
.pokemon-types span {
    display: inline-block;
    margin: 2px;
    padding: 3px 8px;
    border-radius: 12px;
    background: rgba(0,0,0,0.1);
    text-transform: capitalize;
    font-size: 0.9em;
}

@media (max-width: 600px) {
    .controls input { width: 150px; margin-bottom: 5px; }
    .pokemon-card { width: 150px; padding: 10px; }
    .pokemon-card img { width: 100px; }
}

/* Historique à droite */
.history-container {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.history-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history-container ul li {
    padding: 16px;
    margin-bottom: 6px;
    background-color: #7bb4e6;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.history-container ul li:hover {
    transform: scale(1.05);
    background-color: #9dd7f4;
}